= turbo_stream.update "flash", partial: "layouts/flash"
= turbo_stream.update "students-quiz-list", partial: "students/dashboards/quizzes", locals: { quizzes: quizzes, paginated_quizzes: paginated_quizzes }
